# build output
dist/
.astro/

# dependencies
node_modules/

# generated types
*.tsbuildinfo

# environment
.env
.env.production

# editors / os
.vscode/
.idea/
.DS_Store
*/.DS_Store

# logs
*.log
npm-debug.log*
